<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-4.4.1-dist/css/bootstrap.css">
</head>
<body>
    <h1>{{name}}</h1>
    <div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">自由的</font></font></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$0 </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/月</font></font></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">包括 10 个用户</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 GB 存储空间</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电子邮件支持</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助中心访问</font></font></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">免费注册</font></font></button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">专业版</font></font></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$15 </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/月</font></font></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">包括 20 个用户</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10 GB 存储空间</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">优先电子邮件支持</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助中心访问</font></font></li>
        </ul>
        <a href="www.baidu.com" ><button type="button" class="btn btn-lg btn-block btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">开始使用</font></font></button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">企业</font></font></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$29 </font></font><small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/月</font></font></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">包括 30 个用户</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 GB 存储空间</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电话和电子邮件支持</font></font></li>
          <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助中心访问</font></font></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系我们</font></font></button>
      </div>
    </div>
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2017-2020</font></font></small>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">特征</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">很酷的东西</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">随机特征</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">团队特色</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">开发人员的东西</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">另一个</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上次</font></font></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">资源名称</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">另一个资源</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最终资源</font></font></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关于</font></font></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">团队</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">地点</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">隐私</font></font></a></li>
          <li><a class="text-muted" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">条款</font></font></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
</html>